{% extends '::base.html.twig' %}

{% block content %}
<h1>Dfcconceptosaportes list</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Monto</th>
            <th>Titulo</th>
            <th>Descripcion</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('conceptosaportesc_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.monto }}</td>
            <td>{{ entity.titulo }}</td>
            <td>{{ entity.descripcion }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('conceptosaportesc_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('conceptosaportesc_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('conceptosaportesc_new') }}">
            Create a new entry
        </a>
    </li>
</ul>
{% endblock %}
{% block submenu %}
{% include 'AplicativoBundle:Dfcaportes:submenu.html.twig' %}
{% endblock %}