{% extends '::base.html.twig' %}

{% block content %}
<h1>Dcactivos</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Cooperativista</th>
            <td>{{ entity.cooperativista }}</td>
        </tr>
        <tr>
            <th>Tipo</th>
            <td>{{ entity.tipo }}</td>
        </tr>
        <tr>
            <th>Marca</th>
            <td>{{ entity.marca }}</td>
        </tr>
        <tr>
            <th>Modelo</th>
            <td>{{ entity.modelo }}</td>
        </tr>
        <tr>
            <th>Anio</th>
            <td>{{ entity.anio }}</td>
        </tr>
        <tr>
            <th>Placa</th>
            <td>{{ entity.placa }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('activoscooperativistas') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('activoscooperativistas_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('activoscooperativistas_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}
{% block submenu %}
{% include 'AplicativoBundle:Cooperativistas:submenu.html.twig' %}
{% endblock %}